html,
body,
#root,
#root > div {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

div {
	user-select: none;
}

img {
	pointer-events: none;
}

*::-webkit-scrollbar {
	display: block;
	width: 16px;
}

*::-webkit-scrollbar-button {
	display: none;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-track-piece {
	background: transparent;
}

* {
	--scrollbar-color: #00000000;
}

*:hover,
*:focus,
*:focus-within {
	cursor: default;
	--scrollbar-color: #00000040 !important;
}

*::-webkit-scrollbar-thumb {
	background-color: #00000000;
	border: 5px solid transparent;
	border-radius: 24px;
	box-shadow: 4px 0px 0px 4px var(--scrollbar-color) inset;
}
